.TableContainer {
        button {
            width: 90px;
                padding: 15px;
                margin: 10px;
                background-color: rgb(12, 12, 12);
                color: white;
                border: none;
                font-size: 15px;
                cursor: pointer;
        }
}